</div>
	    </div>


    </div><!-- /.container -->
<footer>
	<p class="text-center">Lobalam &copy; 2016 All Rights Reserved</p>
</footer>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>