<% include ../partials/header %>
	<h1>Login</h1>
	<br />
	<form method="post" action="/users/login">
    <div class="form-group">
      <label>Email</label>
      <input name="email" type="email" placeholder="Enter email" class="form-control"/>
      <label>Password</label>
      <input name="password" type="password" placeholder="Enter password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>	
  </form>
<% include ../partials/footer %>